<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>codeIanRobinson</title>
    <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>
    <style>
      p, body {
        font-family: 'Source Serif Pro', serif;
        font-size: 20px;
        line-height: 1.4em;
        color: #000
      }

      h1, h2, h3, h4, h5, ul {
        font-family: 'Montserrat', sans-serif;
        padding: 20px 20px 20px 20px;
      }

      h1 {
        padding-top: 20px;
        padding-bottom: 20px;
      }

      a img {
        padding: 10px 10px 10px 10px;
      }

      .btn {
        border-radius: 0;
        text-transform: uppercase;
      }

      .btn-primary:hover {
          color: #fff;
      }

      .btn-twitter:hover {
          color: #fff;
          background-color: #3399ff;
      }

      .btn-twitter {
        color: #3399ff;
      }

      .btn-facebook:hover {
          color: #fff;
          background-color: #3b5998;
          border-color: #3b5998;
      }

      .btn-facebook {
        color: #3b5998;
      }

      .btn-instagram:hover {
          color: #fff;
          background-color: #ed4956;
      }

      .btn-instagram {
        color: #ed4956;
      }

      .btn-podcast:hover {
          color: #fff;
          background-color: #9966cc;
          font-color: white;
      }

      .btn-podcast {
        color: #9966cc;
      }

      .btn-youtube:hover {
          color: #fff;
          background-color: #ff3300;
          font-color: white;
      }

      .btn-youtube {
        color: #ff3300;
      }

      .btn-github:hover {
        color: white;
        background-color: #333333;
        font-color: white;
      }

      .btn-github {
        color: #333333;
      }

      .socialNav {
          padding-top: 50px;
          padding-bottom: 50px;
      }

      .gallery img:hover {
          opacity: 0.4;
      }

      #ianwrap {
          background: url(https://ianrobinson.net/wp-content/uploads/2018/05/ian.jpg) no-repeat center top;
          margin-top: -20px;
          padding-top: 10px;
          text-align: center;
          background-attachment: relative;
          background-position: center center;
          min-height: 600px;
          width: 100%;
          background-size: cover;
      }

      .navbar-default{
        margin: 20px 40px 0px;
      }
    </style>
  </head>

  <body>
  <!-- Thank you Derek Sivers, Casey Neistat and DHH, and Paul Silva I looked to your sites when I needed ideas.
  -->
  <head>
    <link href='https://fonts.googleapis.com/css?family=Source+Serif+Pro' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
  </head>

  <div class="navbar-default">
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/">home</a></li>
      <li><a href="#about">about</a></li>
      <li><a href="#work">work</a></li>
    </ul>
  </div>

  <div id="ianwrap">
    <div class="container">
  	  <div class="row">
  		  <div class="col-lg-6 col-lg-offset-3">
  			</div>
  		</div>
  	</div>
  </div>

  <div align="middle" class="container-fluid">
    <div class="container">
      <A NAME="about"></a>
      <h2>Hi, I'm Ian.</h2>
      <p>Please see thumbnails below to explore my work.</p>
      <p>I'm currently looking for an opportunity to work with a web development organization.</p>
      <p>If you're interested in working with me, please <a href="https://www.freedompodcasting.com/callian">click here to set up a call</a>.</p>
    </div>

    <h2>Code Projects</h2>
    <div class="container">
      <div class="row centered mt mb">
        <A NAME="work"></a>

        <!-- WORK PROJECTS ROW ONE -->
        <div class="col-lg-4 col-md-4 col-sm-4 gallery">
          <a href="http://quickcheck.ianrobinson.net" target="_blank"><img src="https://ianrobinson.net/wp-content/uploads/2018/01/Ian-Robinson-Programming-Wikipedia-Quick-Check-Tool.jpg" class="img-responsive" alt="A tool to quickly check many wikipedia entries related to a term"></a>
          <p>A tool for finding multiple related Wikipedia articles.</p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 gallery">
          <a href="http://t6r.ianrobinson.net" target="_blank"><img src="https://ianrobinson.net/wp-content/uploads/2018/01/Ian-Robinson-Programming-Thumbnails-Random-Tweet-Generator.jpg" class="img-responsive" alt="A Podcast for the Location Independent"></a>
          <p>A random quote generator for spamming Hack Reactor founders.</p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 gallery">
          <a href="http://code.ianrobinson.net/code" target="_blank"><img src="https://ianrobinson.net/wp-content/uploads/2018/01/Ian-Robinson-Programming-Thumbnails-JS-Calculator.jpg" class="img-responsive" alt="The Personal Blog of Ian Robinson"></a>
          <p>A mobile responsive JavaScript calculator.</p>
        </div>
      </div>
      <!-- END WORK PROJECTS ROW ONE -->

      <!-- WORK PROJECTS ROW TWO -->
      <div class="col-lg-4 col-md-4 col-sm-4 gallery">
        <a href="http://jockoclock.ianrobinson.net" target="_blank"><img src="https://ianrobinson.net/wp-content/uploads/2018/01/Ian-Robinson-Programming-Thumbnails-Jocko-Clock.jpg" class="img-responsive" alt="A clock that gets Jocko Willink to help you stop procrastinating"></a>
        <p>Jocko Clock is a Pomodoro clock which helps you eliminate procrastination featuring the voice of Jocko Willink.</p>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 gallery">
        <a href="https://code.ianrobinson.net/heart/" target="_blank"><img src="https://ianrobinson.net/wp-content/uploads/2018/06/Ian-Robinson-Programming-Thumbnails-heart.jpg" class="img-responsive" alt="A Podcast for the Location Independent"></a>
        <p>A throbbing heart.</p>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 gallery">
        <a href="http://ttt.ianrobinson.net" target="_blank"><img src="https://ianrobinson.net/wp-content/uploads/2018/02/Ian-Robinson-Programming-Thumbnails-tic-toc-toe.jpg" class="img-responsive" alt="A simple Tic Tac Toe Game"></a>
        <p>This is just a simple game of Tic Tac Toe written in JavaScript, HTML and CSS.</p>
      </div>
    </div>
    <!-- END WORK PROJECTS ROW TWO -->

    <!-- WORK PROJECTS ROW THREE -->
    <div class="col-lg-4 col-md-4 col-sm-4 gallery">
      <a href="" target="_blank"><img src="https://ianrobinson.net/wp-content/uploads/2018/01/Ian-Robinson-Programming-Thumbnails-Coming-Soon.jpg" class="img-responsive" alt="TK ?"></a>
      <p></p>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 gallery">
      <a href="" target="_blank"><img src="https://ianrobinson.net/wp-content/uploads/2018/01/Ian-Robinson-Programming-Thumbnails-Coming-Soon.jpg" class="img-responsive" alt="TK ?"></a>
      <p></p>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 gallery">
      <a href="" target="_blank"><img src="https://ianrobinson.net/wp-content/uploads/2018/01/Ian-Robinson-Programming-Thumbnails-Coming-Soon.jpg" class="img-responsive" alt="TK ?"></a>
      <p></p>
    </div>
  </div>
  <!-- END WORK PROJECTS ROW THREE -->

  <h2>Business and Media Projects</h2>
    <div class="container">
      <div class="row centered mt mb">
        <A NAME="work"></a>
          <div class="col-lg-4 col-md-4 col-sm-4 gallery">
            <a href="https://www.freedompodcasting.com" target="_blank"><img src="https://ianrobinson.net/wp-content/uploads/2016/07/Ian-Robinson-Programming-Thumbnails-Freedom-Podcasting.png" class="img-responsive" alt="Excellent Podcast Production Company"></a>
          <p>We are a company offering podcast production services to clients since 2011.</p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 gallery">
          <a href="https://www.ianrobinson.net" target="_blank"><img src="https://ianrobinson.net/wp-content/uploads/2016/07/Ian-Robinson-Programming-Thumbnails-Blog.png" class="img-responsive" alt="The Personal Blog of Ian Robinson"></a>
          <p>My personal blog with wide ranging topics:</p>
          <p><font size="3"><em>house building, learning to code, book notes, travel ideas, film making, cryptocurrency and much more.</em></font></p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 gallery">
          <a href="https://loveaffairtravel.com" target="_blank"><img src="https://ianrobinson.net/wp-content/uploads/2016/07/Ian-Robinson-Programming-Thumbnails-Love-Affair-Travel.png" class="img-responsive" alt="A Podcast for the Location Independent"></a>
          <p>A podcast I hosted related to adventure travel and location independent business.</p>
        </div>
      </div>
    </div>

    <div class="container" id="social">
      <div class="row socialNav">
        <ul align="middle" class="list-unstyled list-inline">
          <li><a class="btn btn-twitter" href="https://www.twitter.com/independentian" role="button" target="_blank">twitter</a></li>
          <li><a class="btn btn-facebook" href="https://www.facebook.com/independentian" role="button" target="_blank">facebook</a></li>
          <li><a class="btn btn-instagram" href="https://www.instagram.com/independentian" role="button" target="_blank">instagram</a></li>
          <li><a class="btn btn-podcast" href="https://www.loveaffairtravel.com" role="button" target="_blank">podcast</a></li>
          <li><a class="btn btn-youtube" href="https://www.youtube.com/user/irobinson1984" role="button" target="_blank">youtube</a></li>
          <li><a class="btn btn-github" href="https://github.com/iarobinson" role="button" target="_blank">github</a></li>
        </ul>
      </div>
    </div>
  </body>

</html>
