<div class="bg">
  <div class="center align-middle">
    <p id="timeDisplay">Get. After. It.</p>
    <p id="dayDisplay"></p>
    <form>
      <input type="number" id="newTime" min="1" max="500" >
      <input type="button" value="Start Custom Minutes" onclick="setCustomMinutes()">
      <input type="button" value="Reset Clock" onClick="resetClock()">
    </form>
  </div>
  <a href="http://ianrobinson.net/jocko-clock" target="_blank" id="learnMore">Learn More</a>
</div>
