<div class="container-fluid">
  <div class="row">
    <div class="col-6 offset-3 pt-4">
      <h1>Scratch Page!</h1>
      <%= link_to "Go Home!", root_path, class: "btn btn-primary btn-block" %>
    </div>
  </div>
</div>
