<div class="container">
  <div class="row">
    <div class="col-md-6 offset-3">


      <h1 class="text-center">New Military Rank Test</h1>

      <%= render 'form', military_rank_test: @military_rank_test %>

      <%= link_to 'Back', military_rank_tests_path, class: "btn btn-block btn-primary my-3" %>
    </div>
  </div>
</div>
