<div class="container-fluid">
  <div class="row">
    <div class="col-12 text-center">
      <p>
        You're logged in!
        Logged in with email: <%= current_user.email %>.
      </p>
    </div>
  </div>
</div>
