<div class="row socialNav" id="social">
  <div class="col">
    <a class="btn btn-block btn-twitter" href="https://www.twitter.com/independentian" role="button" target="_blank">twitter</a></li>
  </div>
  <div class="col">
    <a class="btn btn-block btn-facebook" href="https://www.facebook.com/independentian" role="button" target="_blank">facebook</a></li>
  </div>
  <div class="col">
    <a class="btn btn-block btn-instagram" href="https://www.instagram.com/independentian" role="button" target="_blank">instagram</a></li>
  </div>
  <div class="col">
    <a class="btn btn-block btn-youtube" href="https://www.youtube.com/user/irobinson1984" role="button" target="_blank">youtube</a></li>
  </div>
  <div class="col">
    <a class="btn btn-block btn-github" href="https://github.com/iarobinson" role="button" target="_blank">github</a></li>
  </div>
</div>
